<h2>{{model.city}} {{model.demo_day_date}}</h2>

<ul>
  <li>If you need to add yourself to a group listed below, visit the project.</li>
  <li>If you need to register your project (group or individual), {{#link-to 'cohort.register'}}Register Project{{/link-to}}</li>
</ul>

{{#each model.projects as |project|}}
  <li>{{#link-to 'project.show' project}} {{project.app_name}}{{/link-to}}</li>
{{/each}}


{{outlet}}
