{{#md-toolbar}}
     <div class="md-toolbar-tools menu_color">
       {{#md-button class="md-icon-button"}}
         {{#link-to 'index'}}{{md-icon md-svg-icon="/images/iron-yard-logo.svg"}}{{/link-to}}
       {{/md-button}}
         <h2>
             <span>{{#link-to 'index'}}The Iron Yard Demo Day{{/link-to}}</span>
         </h2>
         <span flex></span>
       <!-- {{#md-button class="md-icon-button"}}
         {{md-icon md-svg-icon="images/icons/favorite.svg"}}
       {{/md-button}}
       {{#md-button class="md-icon-button"}}
         {{md-icon md-svg-icon="images/icons/more_vert.svg"}}
       {{/md-button}} -->
     </div>
 {{/md-toolbar}}



{{outlet}}
